{% extends "nucleo/base.html" %}

{% block content %} 
<h4>QUIENES SOMOS</h4>
     <article>
        <p>THUNDER CAR está compuesto por un grupo de jóvenes emprendedores, quienes conscientes de lo importante que es la movilidad a la hora de planificar un viaje decidieron crear una empresa que facilite el proceso de selección de un vehículo.</p>
        <p>Nuestro punto fuerte es el asesoramiento al cliente, ya que más allá del presupuesto hay detalles técnicos a tener en cuenta para seleccionar el vehículo que se acerque más a sus necesidades, como por ejemplo, autonomía, capacidad de baúl, espacio interior o equipamiento abordo.</p>
        <p>Por eso además contamos con una amplia flota compuesta por modelos de los más aceptados en el mercado automotor a fin de que el usuario pueda escoger entre aquellos con los que esté más familiarizado.<br> Dicha flota dividida en categorías permite en caso de no tener disponible la unidad escogida poder entregar fácilmente un reemplazo de características similares.</p><br>
        <p>¿A qué tipo de cliente está dirigido THUNDER CAR?<br>Por un lado apostamos al turismo ya que cada vez más personas deciden viajar en avión o micros de larga distancia para llegar más relajados al punto de destino y a su vez viajar de forma segura.<br> Pero también nos enfocamos en brindar soluciones a quienes realizan viajes por cuestiones laborales, por eso ofrecemos un servicio de atención a empresas especializado y contamos dentro de nuestra flota con vehículos discretos pero de gran porte para priorizar el confort de los pasajeros.</p>
        <p>Por todo lo anteriormente mencionado te invitamos a confiar en nosotros a la hora de planificar tu viaje.</p>
        </article>
{% endblock %}