{% extends "nucleo/base.html" %}

{% block content %} 
<h4>REQUISITOS DE ALQUILER</h4><br><br>
        <ul class="ca">
          <li>Ser mayor de 21 años</li><br>
          <li>Documento de Identidad o pasaporte.</li><br>
          <li>Registro de conducir en vigencia.</li><br>
          <li>Tarjeta de Crédito (Propia o de un garante).</li><br>
          <li>Duración mínima de alquiler 24 hs.</li><br>
        </ul><br>
        <h4>ACLARACIONES</h4><br><br>       
        <ul class="aclaraciones">
          <li>Las reservas serán atendidas con automóviles de la misma categoría o, en caso de no haber disponibilidad, se entregará un vehículo de una categoría superior.</li><br>
          <li>El vehículo alquilado sólo podrá ser conducido por el titular del contrato de alquiler, o quien éste designado con anterioridad por THUNDER CAR.</li><br>
          <li>La devolución del auto se contempla con 2 (dos) horas de tolerancia.</li><br>
          <li>Pasada la hora de tolerancia se cobrará ½ día de alquiler. Superadas las 6 horas, se cobrará un día completo de alquiler.</li><br>
        </ul>
{% endblock %}